/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  padding: 20px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}

/* Estilos para el navegacion */
.navegacion {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.navegacion .enlaces {
  text-decoration: none;
  color: #333;
  position: relative;
}

.navegacion .enlaces::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: red;
  transition: width 0.8s ease-in-out;
}

.navegacion .enlaces:hover::after {
  width: 100%;
}

.navegacion ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navegacion ul li {
  margin-right: 20px;
}

.navegacion ul li .enlaces {
  color: white;
  font-weight: bold;
  transition: color 0.3 ease-in-out;
  font-size: 15px;
}

.navegacion ul li .enlaces:hover {
  color: red;
  transition-delay: 0.5;
}

/* Estilos para el logo */
.logo {
  max-width: 100px;
  transition: filter 0.3s ease-in-out;
}

.logo:hover {
  filter: brightness(1.2);
}

/* Estilos para los enlaces del navegacion */
.navegacion a {
  text-decoration: none;
  color: #333;
}

section {
  padding: 20px;
  margin-top: 100px; /* Ajusta el margen superior para evitar que el contenido se superponga con la barra de navegación */
}

h2 {
  margin-top: 70px;
  color: #333;
  text-align: center;
}

.lista-perros {
  height: 100%;
  width: 100%;
  min-height: 100vh;
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
  grid-gap: 20px;
}

.perro {
  transition: transform .55s ease-in-out;
}

.perro:hover {
  -webkit-box-shadow: 3px 12px 23px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 3px 12px 23px 0px rgba(0,0,0,0.75);
  box-shadow: 3px 12px 23px 0px rgba(0,0,0,0.75);
  
  transform: scale(1.01);
}

.perro,
.perro-perdido {
  border: 1px solid #ccc;
  padding: 10px;
}

.perro img,
.perro-perdido img {
  width: 100%;
  height: auto;
}

.perro,
.perro-perdido {
  border: 1px solid #ccc;
  padding: 10px;
}

.perro img,
.perro-perdido img {
  width: 100%;
  height: 300px;
}

.nombre-del-perro {
  font-size: 20px;
  text-align: center;
}

.descripcion-perro {
  text-align: justify;
  font-size: 20px;
  margin: 15px;
  /* padding: 10px 10px; */
}

.botones {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.contacto-boton {
  padding: 10px 15px;
  display: flex;
  background-color: rgb(34, 173, 34);
  justify-content: center;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
  color: white;
  margin-bottom: 7px;
}

.contacto-boton:hover {
  background-color: green;
}

.llamada {
  background-color: rgb(191, 37, 37);
}

.llamada:hover {
  background-color: rgb(213, 10, 10);
}

.face {
  background-color: rgb(54, 54, 225);
}

.face:hover {
  background-color: blue;
}

.telefono {
  font-weight: bold;
}

footer {
  margin-top: 100px;
  background-color: #3F88C5;
  padding: 10px;
  text-align: center;
}

.derechos-autor {
  color: white;
}

.autor {
  color: white;
  font-weight: bold;
  text-decoration: none;
}

.autor:hover {
  color: gold;
}





/* Estilos para dispositivos móviles */
@media only screen and (max-width: 768px) {
  .navegacion {
    flex-direction: column;
    align-items: center;
  }

  .navegacion ul {
    display: flex;
    flex-direction: row; /* Muestra los enlaces en una columna */
    /* gap: 3px; */
    justify-content: space-around;
    /* justify-content: space-between; */
  }

  .lista-perros {
    grid-template-columns: 1fr; /* Cambia a una columna */
    margin-top: 20px; /* Agrega un margen superior */
  }

  .botones {
    display: flex;
    flex-direction: row;
  }

  .contacto-boton {
    padding: 10px 15px;
    margin-bottom: 10px;
  }
}

/* Estilos para pantallas más grandes */
@media only screen and (min-width: 769px) {
  .navegacion {
    flex-direction: row;
    justify-content: space-around;
  }
}

/* Ajuste del grid en dispositivos móviles */
@media only screen and (max-width: 768px) {
  .lista-perros {
    grid-template-columns: 1fr; /* Cambia a una columna en dispositivos móviles */
    padding: 0 20px; /* Agrega un espacio en los lados para evitar que los elementos se superpongan con el borde de la pantalla */
  }
}

@media (max-width: 1535px){
  header {
      padding: 15px 3%;
      transition: .2s;
  }

  .icons {
      padding: 0 3%;
      transition: .2s;
  }

  .scroll-down {
      right: 3%;
      transition: .2s;
  }
}

@media (max-width: 1460px) {
  section {
      padding: 0 12%;
      transition: .2s;
  }
}

@media (max-width: 1340px) {
  .hero-img img{
      width: 100%;
      height: auto;
  }
  .hero-text h1{
      font-size: 75px;
      margin: 0 0 30px;
  }
  .hero-text h5{
      margin-bottom: 25px;
  }
}

@media (max-width: 1195px) {
  section {
      padding: 0 3%;
      transition: .2s;
  }
  .hero-text {
      padding-top: 115px;
  }
  .hero-img {
      text-align: center;
  }
  .hero-img img{
      width: 560px;
      height: auto;
  }
  .hero {
      height: 100%;
      gap: 1rem;
      grid-template-columns: 1fr;
  }
  .icons {
      display: none;
  }
  .scroll-down {
      display: none;
  }
}

@media (max-width: 990px){
  #menu-icon{
      display: block;
  }
  .navlist {
      position: absolute;
      top: 100%;
      right: -100%;
      width: 100%;
      height: 40vh;
      background: #4d9559;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      padding: 50px 20px;
      transition: all .55s ease;
  }
  .navlist a{
      margin-left: 0;
      display: block;
      margin: 7px 0;
      
  }
  .navlist.open {
      right: 0;
  }
}

@media (max-width: 680px) {
  .hero-img img{
      width: 100%;
      height: auto;
  }
}

@media (max-width: 416px) {

  .navlist {
      position: absolute;
      top: 100%;
      right: -100%;
      width: 100%;
      height: 40vh;
      background: #4d9559;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      padding: 10px 20px;
      transition: all .55s ease;
  }
  .navlist a{
      margin-left: 0;
      display: block;
      margin: 7px 0;
      font-size: 20px;
      
  }
  .navlist.open {
      right: 0;
  }
  .logo {
      font-size: 20px;
  }

  .hero-text h1 {
      display: flex;
      font-size: 45px;
      justify-content: center;
  }

  .hero-text p {
      margin: 10px;
      justify-content: center;
  }

  .hero-text p.pregunta {
      margin-top: 30px;
      font-size: 30px;
      justify-content: center;
      padding: 0;
  }

  .hero-text a {
      padding: 10px 20px;
      justify-content: center;
      transition: all .55s ease;
  }

  .hero-img img {
      display: flex;
      justify-content: center;
  }
}


@media (max-width: 414px) {

  .navlist {
      position: absolute;
      top: 100%;
      right: -100%;
      width: 100%;
      height: 40vh;
      background: #4d9559;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      padding: 10px 20px;
      transition: all .55s ease;
  }
  .navlist a{
      margin-left: 0;
      display: block;
      margin: 7px 0;
      font-size: 20px;
      
  }
  .navlist.open {
      right: 0;
  }
  .logo {
      font-size: 20px;
  }

  .hero-text h1 {
      display: flex;
      font-size: 45px;
      justify-content: center;
  }

  .hero-text p {
      margin: 10px;
      justify-content: center;
  }

  .hero-text p.pregunta {
      margin-top: 30px;
      font-size: 30px;
      justify-content: center;
      padding: 0;
  }

  .hero-text a {
      padding: 10px 20px;
      justify-content: center;
      transition: all .55s ease;
  }

  .hero-img img {
      display: flex;
      justify-content: center;
  }
}


@media (max-width: 412px) {
  .navlist {
      position: absolute;
      top: 100%;
      right: -100%;
      width: 100%;
      height: 40vh;
      background: #4d9559;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      padding: 10px 20px;
      transition: all .55s ease;
  }
  .navlist a{
      margin-left: 0;
      display: block;
      margin: 15px 0;
      font-size: 18px;
      
  }
  .navlist.open {
      right: 0;
  }
  .logo {
      font-size: 20px;
  }

  .hero-text h1 {
      display: flex;
      font-size: 45px;
      justify-content: center;
  }

  .hero-text p {
      margin: 10px;
      justify-content: center;
  }

  .hero-text p.pregunta {
      margin-top: 30px;
      font-size: 30px;
      justify-content: center;
      padding: 0;
  }

  .hero-text a {
      padding: 10px 20px;
      justify-content: center;
      transition: all .55s ease;
  }

  .hero-img img {
      display: flex;
      justify-content: center;
  }
}

@media (max-width: 393px) {
  .navlist {
      position: absolute;
      top: 100%;
      right: -100%;
      width: 100%;
      height: 40vh;
      background: #4d9559;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      padding: 10px 20px;
      transition: all .55s ease;
  }
  .navlist a{
      margin-left: 0;
      display: block;
      margin: 15px 0;
      font-size: 18px;
      
  }
  .navlist.open {
      right: 0;
  }
  .logo {
      font-size: 20px;
  }

  .hero-text h1 {
      display: flex;
      font-size: 45px;
      justify-content: center;
  }

  .hero-text p {
      margin: 10px;
      justify-content: center;
  }

  .hero-text p.pregunta {
      margin-top: 30px;
      font-size: 30px;
      justify-content: center;
      padding: 0;
  }

  .hero-text a {
      padding: 7px 15px;
      justify-content: center;
      transition: all .55s ease;
  }

  .hero-img img {
      display: flex;
      justify-content: center;
  }
}


@media (max-width: 390px) {
  .navlist {
      position: absolute;
      top: 100%;
      right: -100%;
      width: 100%;
      height: 40vh;
      background: #4d9559;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      padding: 10px 20px;
      transition: all .55s ease;
  }
  .navlist a{
      margin-left: 0;
      display: block;
      margin: 15px 0;
      font-size: 18px;
      
  }
  .navlist.open {
      right: 0;
  }
  .logo {
      font-size: 20px;
  }

  .hero-text h1 {
      display: flex;
      font-size: 45px;
      justify-content: center;
  }

  .hero-text p {
      margin: 10px;
      justify-content: center;
  }

  .hero-text p.pregunta {
      margin-top: 30px;
      font-size: 30px;
      justify-content: center;
      padding: 0;
  }

  .hero-text a {
      padding: 7px 15px;
      justify-content: center;
      transition: all .55s ease;
  }

  .hero-img img {
      display: flex;
      justify-content: center;
  }
}

@media (max-width: 375px) {
  .logo {
      font-size: 20px;
  }

  .hero-text h1 {
      display: flex;
      font-size: 45px;
      justify-content: center;
      margin: 0 0 10px;
  }

  .hero-text p {
      margin: 10px;
      justify-content: center;
  }

  .hero-text p.pregunta {
      margin-top: 10px;
      font-size: 20px;
      justify-content: center;
      padding: 0;
  }

  .hero-text a {
      padding: 5px 12px;
      justify-content: center;
      transition: all .55s ease;
  }

  .hero-img img {
      justify-content: center;
  }
}

@media (max-width: 360px) {
  .navlist {
      position: absolute;
      top: 100%;
      right: -100%;
      width: 100%;
      height: 40vh;
      background: #4d9559;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      padding: 10px 20px;
      transition: all .55s ease;
  }
  .navlist a{
      margin-left: 0;
      display: block;
      margin: 15px 0;
      font-size: 18px;
      
  }
  .navlist.open {
      right: 0;
  }
  .logo {
      font-size: 20px;
  }

  .hero-text h1 {
      display: flex;
      font-size: 45px;
      justify-content: center;
  }

  .hero-text p {
      margin: 10px;
      justify-content: center;
  }

  .hero-text p.pregunta {
      margin-top: 30px;
      font-size: 30px;
      justify-content: center;
      padding: 0;
  }

  .hero-text a {
      padding: 5px 10px;
      justify-content: center;
      transition: all .55s ease;
  }

  .hero-img img {
      display: flex;
      justify-content: center;
  }
}

@media (max-width: 320px) {
  .navlist {
      position: absolute;
      top: 100%;
      right: -100%;
      width: 100%;
      height: 40vh;
      background: #4d9559;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      padding: 10px 20px;
      transition: all .55s ease;
  }
  .navlist a{
      margin-left: 0;
      display: block;
      margin: 10px 0;
      font-size: 15px;
      
  }
  .navlist.open {
      right: 0;
  }
  .logo {
      font-size: 20px;
  }

  .hero-text h1 {
      display: flex;
      font-size: 45px;
      justify-content: center;
  }

  .hero-text p {
      margin: 10px;
      justify-content: center;
  }

  .hero-text p.pregunta {
      margin-top: 30px;
      font-size: 20px;
      justify-content: center;
      padding: 0;
  }

  .hero-text a {
      display: flex;
      padding: 5px 10px;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      transition: all .55s ease;
      margin-bottom: 5px;
  }

  .hero-text .ctaa {
      display: none;
  }
  .hero-img img {
      display: flex;
      justify-content: center;
  }
}

@media (max-width: 280px) {
  .navlist {
      position: absolute;
      top: 100%;
      right: -100%;
      width: 100%;
      height: 40vh;
      background: #4d9559;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      padding: 10px 20px;
      transition: all .55s ease;
  }
  .navlist a{
      margin-left: 0;
      display: block;
      margin: 15px 0;
      font-size: 14px;
      
  }
  .navlist.open {
      right: 0;
  }
  .logo {
      font-size: 20px;
  }

  .hero-text h1 {
      display: flex;
      font-size: 30px;
      justify-content: center;
  }

  .hero-text p {
      margin: 10px;
      justify-content: center;
      font-size: 15px;
  }

  .hero-text p.pregunta {
      margin-top: 30px;
      font-size: 20px;
      justify-content: center;
      padding: 0;
  }

  .hero-text a {
      display: flex;
      flex-direction: row;
      padding: 5px 5px;
      align-items: center;
      justify-content: center;
      transition: all .55s ease;
      margin-bottom: 10px;
  }

  .hero-text a.ctaa {
      display: flex;
      justify-content: center;
      align-items: center;
  }

  .hero-img img {
      display: flex;
      justify-content: center;
  }
}

section h2 {
  margin-top: 50px;
}
